html,
body {
    height: 100%;
    font-family: "tahoma";
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.required label:after {
    content: " *";
    color: red;
}

.navbar {
    background-color: #c4c4c4;
    background-image: none;
    border-radius: 0px;
    border: 0px;
}

#rightmenu
{
    position: fixed;
    background-color: #c4c4c4;
    width: 220px;
    margin-top:-70px;
    height: 100%;
}

#wrapbar{
    width:95%;
}

#page-wrapper{

    padding: 40px 70px;
    color: #111;
}

.footer {
    height: 45px;
    background-color: #c4c4c4;
    margin-top: 30px;
    width:100%;
    position:relative;
}

body > footer > div > p.pull-center {
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}

#user-view{
    text-align: center;
}

#user-view > img{
    max-height: 40%; 
    max-width: 40%;
}

#sliderlist > img
{
    max-height: 80%; 
    max-width: 80%;
}